<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
            android:name=".QuickLogTileService"
            android:exported="true"
            android:icon="@android:drawable/ic_input_add"
            android:label="Ripple"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TILE_CATEGORY"
                android:value="android.service.quicksettings.CATEGORY_PRODUCTIVITY" />
        </service>
    </application>
</manifest>
